In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("data/movies.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv("data/ratings.csv")
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movies_data = pd.merge(ratings, movies, on="movieId")
movies_data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [5]:
movies_data.groupby("title")["rating"].mean().head()

title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
Name: rating, dtype: float64

In [13]:
movies_data.groupby("title")["rating"].mean().sort_values(ascending=False).head(25)

title
Ivan Vasilievich: Back to the Future (Ivan Vasilievich menyaet professiyu) (1973)    5.0
Alien Escape (1995)                                                                  5.0
Boiling Point (1993)                                                                 5.0
Bone Tomahawk (2015)                                                                 5.0
Borgman (2013)                                                                       5.0
Survive and Advance (2013)                                                           5.0
Supercop 2 (Project S) (Chao ji ji hua) (1993)                                       5.0
Last Dragon, The (1985)                                                              5.0
Boy Crazy (2009)                                                                     5.0
Brandon Teena Story, The (1998)                                                      5.0
Straight-Jacket (2004)                                                               5.0
Storefront Hitchcock (1997)                                                          5.0
Latter Days (2003)                                                                   5.0
Howl (2010)                                                                          5.0
Step Into Liquid (2002)                                                              5.0
Brooklyn (2015)                                                                      5.0
Brother, Can You Spare a Dime? (1975)                                                5.0
Bobby (2006)                                                                         5.0
Sympathy for Mr. Vengeance (Boksuneun naui geot) (2002)                              5.0
Land of Silence and Darkness (Land des Schweigens und der Dunkelheit) (1971)         5.0
The Beatles: Eight Days a Week - The Touring Years (2016)                            5.0
The Car (1977)                                                                       5.0
Bill Hicks: Relentless (1992)                                                        5.0
Bill Hicks: Revelations (1993)                                                       5.0
The Brave Little Toaster Goes to Mars (1998)                                         5.0
Name: rating, dtype: float64

In [14]:
movies_data.groupby("title")["rating"].count().sort_values(ascending=False).head(25)

title
Forrest Gump (1994)                                                               341
Pulp Fiction (1994)                                                               324
Shawshank Redemption, The (1994)                                                  311
Silence of the Lambs, The (1991)                                                  304
Star Wars: Episode IV - A New Hope (1977)                                         291
Jurassic Park (1993)                                                              274
Matrix, The (1999)                                                                259
Toy Story (1995)                                                                  247
Schindler's List (1993)                                                           244
Terminator 2: Judgment Day (1991)                                                 237
Star Wars: Episode V - The Empire Strikes Back (1980)                             234
Braveheart (1995)                                                                 228
Back to the Future (1985)                                                         226
Fargo (1996)                                                                      224
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    220
American Beauty (1999)                                                            220
Independence Day (a.k.a. ID4) (1996)                                              218
Star Wars: Episode VI - Return of the Jedi (1983)                                 217
Aladdin (1992)                                                                    215
Fugitive, The (1993)                                                              213
Dances with Wolves (1990)                                                         202
Fight Club (1999)                                                                 202
Usual Suspects, The (1995)                                                        201
Seven (a.k.a. Se7en) (1995)                                                       201
Lion King, The (1994)                                                             200
Name: rating, dtype: int64

In [42]:
ratings_mean_count = pd.DataFrame(movies_data.groupby("title")["rating"].mean())
ratings_mean_count

                                             rating
title
"Great Performances" Cats (1998)           1.750000
$9.99 (2008)                               3.833333
'Hellboy': The Seeds of Creation (2004)    2.000000
'Neath the Arizona Skies (1934)            0.500000
'Round Midnight (1986)                     2.250000
...                                             ...
xXx (2002)                                 2.478261
xXx: State of the Union (2005)             1.000000
¡Three Amigos! (1986)                      3.258065
À nous la liberté (Freedom for Us) (1931)  4.500000
İtirazım Var (2014)                        3.500000

[9064 rows x 1 columns]

In [60]:
ratings_mean_count["rating_counts"] = pd.DataFrame(movies_data.groupby("title")["rating"].count())
ratings_mean_count

C:\Users\Salus X Labs\AppData\Local\Temp\ipykernel_55444\750742270.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_mean_count["rating_counts"] = pd.DataFrame(movies_data.groupby("title")["rating"].count())

                                                    rating  rating_counts
title
American Beauty (1999)                                 4.2            220
Casablanca (1942)                                      4.2            117
Dark Knight, The (2008)                                4.2            121
Dr. Strangelove or: How I Learned to Stop Worry...     4.2            105
Fargo (1996)                                           4.3            224
Fight Club (1999)                                      4.2            202
Godfather, The (1972)                                  4.5            200
Godfather: Part II, The (1974)                         4.4            135
Goodfellas (1990)                                      4.2            131
Lord of the Rings: The Fellowship of the Ring, ...     4.2            200
Matrix, The (1999)                                     4.2            259
Memento (2000)                                         4.2            132
Monty Python and the Holy Grail (1975)                 4.2            145
One Flew Over the Cuckoo's Nest (1975)                 4.3            144
Princess Bride, The (1987)                             4.2            163
Pulp Fiction (1994)                                    4.3            324
Raiders of the Lost Ark (Indiana Jones and the ...     4.2            220
Reservoir Dogs (1992)                                  4.2            132
Schindler's List (1993)                                4.3            244
Shawshank Redemption, The (1994)                       4.5            311
Star Wars: Episode IV - A New Hope (1977)              4.2            291
Star Wars: Episode V - The Empire Strikes Back ...     4.2            234
Taxi Driver (1976)                                     4.2            118
Usual Suspects, The (1995)                             4.4            201

In [61]:
ratings_mean_count["rating"] = round(ratings_mean_count["rating"], 1)
ratings_mean_count

C:\Users\Salus X Labs\AppData\Local\Temp\ipykernel_55444\1651266485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings_mean_count["rating"] = round(ratings_mean_count["rating"], 1)

                                                    rating  rating_counts
title
American Beauty (1999)                                 4.2            220
Casablanca (1942)                                      4.2            117
Dark Knight, The (2008)                                4.2            121
Dr. Strangelove or: How I Learned to Stop Worry...     4.2            105
Fargo (1996)                                           4.3            224
Fight Club (1999)                                      4.2            202
Godfather, The (1972)                                  4.5            200
Godfather: Part II, The (1974)                         4.4            135
Goodfellas (1990)                                      4.2            131
Lord of the Rings: The Fellowship of the Ring, ...     4.2            200
Matrix, The (1999)                                     4.2            259
Memento (2000)                                         4.2            132
Monty Python and the Holy Grail (1975)                 4.2            145
One Flew Over the Cuckoo's Nest (1975)                 4.3            144
Princess Bride, The (1987)                             4.2            163
Pulp Fiction (1994)                                    4.3            324
Raiders of the Lost Ark (Indiana Jones and the ...     4.2            220
Reservoir Dogs (1992)                                  4.2            132
Schindler's List (1993)                                4.3            244
Shawshank Redemption, The (1994)                       4.5            311
Star Wars: Episode IV - A New Hope (1977)              4.2            291
Star Wars: Episode V - The Empire Strikes Back ...     4.2            234
Taxi Driver (1976)                                     4.2            118
Usual Suspects, The (1995)                             4.4            201

In [66]:
pop_recommendations = ratings_mean_count[(ratings_mean_count["rating"]>4.1) & (ratings_mean_count["rating_counts"]>130)].sort_values(by="rating" ,ascending=False)

In [67]:
pop_recommendations

                                                    rating  rating_counts
title
Shawshank Redemption, The (1994)                       4.5            311
Godfather, The (1972)                                  4.5            200
Usual Suspects, The (1995)                             4.4            201
Godfather: Part II, The (1974)                         4.4            135
Fargo (1996)                                           4.3            224
Schindler's List (1993)                                4.3            244
Pulp Fiction (1994)                                    4.3            324
One Flew Over the Cuckoo's Nest (1975)                 4.3            144
Memento (2000)                                         4.2            132
Monty Python and the Holy Grail (1975)                 4.2            145
Matrix, The (1999)                                     4.2            259
Princess Bride, The (1987)                             4.2            163
Lord of the Rings: The Fellowship of the Ring, ...     4.2            200
Raiders of the Lost Ark (Indiana Jones and the ...     4.2            220
Reservoir Dogs (1992)                                  4.2            132
Goodfellas (1990)                                      4.2            131
Fight Club (1999)                                      4.2            202
Star Wars: Episode IV - A New Hope (1977)              4.2            291
Star Wars: Episode V - The Empire Strikes Back ...     4.2            234
American Beauty (1999)                                 4.2            220